




section {
    margin: 20px auto;
    padding: 20px;
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    
    text-align: center;
        border-left: 5px solid #d0679d;
        
       
    
}

